html, body {
    margin: 0;
}
body {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: #f9f9f9;
    padding: 10px 20px 0px;
    border: solid 1px;
}
.header {
    background-color: #f8e68d;
    min-height: 150px;
    border-bottom-right-radius: 2%;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: #f9f9f9;
    min-height: 150px;
    text-align: center;
}
a:hover {
    background-color: lightgray;
}
a {
    text-decoration: none;
}
.imagem {
    align-items: center;
}
.row {
    margin: 5px;
}
label {
    width: 100px;
    text-align: right;
    display: inline-block;
    padding-right: 5px;
}
.texto {
    width: 164px;
    height: 15px;
}
.imagem {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.enviar {
    margin-left: 250px;
}
.tabela {
    align-items: center;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
.tabela thead {
    background-color: black;
    color: white; 
}
.tabela tbody tr:nth-child(even) td {
    background-color: #f1f1f1;
}
tbody td {
    padding: 10px;
}
.tabela tbody tr:hover td {
    background-color: #E9E9E9;
    cursor: pointer;
}